<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header class="page-header">
      <h1><a href="{{ page_url }}">{{ page_id }}</a></h1>
      <nav class="breadcrumbs">
        <ul>
          <li><a href="/">/</a></li>
          <li><a href="/pages">pages</a></li>
          <li><a href="{{ page_url }}">{{ page_id }}</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li><a href="{{ page_url }}">no obsoleted</a></li>
          <li><a href="{{ page_url }}?all=true">all</a></li>
        </ul>
      </nav>
      <p><a href="{{ title_url }}">{{ title }}</a></p>
      {% if obsoleted_by.len() > 0 %}
      <nav>
        Obsoleted by
        <ul>
          {% for page in obsoleted_by %}
          <li><a href="{{ page.url }}">{{ page.id }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
    </header>
    <main class="page-body">
      <article>{{ html|safe }}</article>
    </main>
    <footer class="page-footer">
      <aside>
        {% if linked_by.len() > 0 %}
        <nav>
          Linked by
          <ul>
            {% for page in linked_by %}
            <li>
              <a href="{{ page.url }}">{{ page.id }}</a>
              {% if page.obsoleted %}(obsoleted){% endif %}
            </li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
      </aside>
    </footer>
  </body>
</html>
